---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=11&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_z6YltSpQcyWDlzE17IQDmWqr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14y8SmBMjc9uEciwrczpOLtZ",
          "livemode": false,
          "created": 1415826940,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14y8SmBMjc9uEciw38M2O3VS",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 11,
            "exp_year": 2019,
            "fingerprint": "xd3g59JVdlc6lgKr",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Wed, 12 Nov 2014 21:15:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14y8SmBMjc9uEciwrczpOLtZ
    headers:
      Authorization:
      - Bearer sk_test_z6YltSpQcyWDlzE17IQDmWqr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14y8SmBMjc9uEciwHERauGxI",
          "object": "charge",
          "created": 1415826940,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14y8SmBMjc9uEciw38M2O3VS",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 11,
            "exp_year": 2019,
            "fingerprint": "xd3g59JVdlc6lgKr",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14y8SmBMjc9uEciwHERauGxI/refunds",
            "data": []
          },
          "balance_transaction": "txn_14y8SmBMjc9uEciwSlqeCvsT",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "fraud_details": {
            "stripe_report": null,
            "user_report": null
          },
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null
        }
  recorded_at: Wed, 12 Nov 2014 21:15:40 GMT
recorded_with: VCR 2.9.3
