---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=11&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_z6YltSpQcyWDlzE17IQDmWqr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14yASzBMjc9uEciwO6R2ib3s",
          "livemode": false,
          "created": 1415834641,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14yASzBMjc9uEciw9A20vZ9C",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 11,
            "exp_year": 2019,
            "fingerprint": "0AACWALmIUN4oXGE",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Wed, 12 Nov 2014 23:24:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14yASzBMjc9uEciwO6R2ib3s
    headers:
      Authorization:
      - Bearer sk_test_z6YltSpQcyWDlzE17IQDmWqr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14yASzBMjc9uEciwR5sWl8lL"
          }
        }
  recorded_at: Wed, 12 Nov 2014 23:24:01 GMT
recorded_with: VCR 2.9.3
